<!DOCTYPE html>
<html>
  <head>
    <title>Fritter</title>
    <link rel='stylesheet' href='/css/common.css'/>
    <link rel='stylesheet' href='/css/index.css'/>
    <link rel='stylesheet' href='/css/follow_page.css'/>
  </head>
  <body>
    <div class="container">
      <div id="div_logout_button">
        <button id="btn_home" class="pretty-button green-btn">Home</button>
      </div>
      <div id="div_follower_following">
        <ul id="follower_list"> 
          <li><h1>Followers</h1></li>
        </ul>
        <ul id="followed_list">
          <li><h1>Following</h1></li>
        </ul>
      </div>
    </div>
    <script src="/libs/async.js"></script>
    <script src="/libs/ejs.js"></script>
    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/jquery.cookie.js"></script>
    <script src="/app.js"></script>
    <script src="/util/auth.js"></script>
    <script src="/util/tweeter.js"></script>
    <script src="/controllers/logout_button_ctrl.js"></script>
    <script src="/controllers/login_check_ctrl.js"></script>
    <script src="/util/follow_manager.js"></script>
    <script src="/controllers/follow_page_ctrl.js"></script>

  </body>
</html>
