<li>
<% if(mode === "Followers") {  %>
  <p><%= follow.follower %></p>
<% } else { %>
  <p><%= follow.followed %></p>
  <button class="unfollow-button pretty-button red-btn" style="display: inline">Unfollow</button>
<% } %>
</li>
