<div class="row">
  <div id="div_tweet_alert" class="alert alert-danger alert-dismissible" role="alert" >
    <p id="p_tweet_alert"></p>
  </div>
</div>
<div class="row">
  <textarea id="txt_tweet" cols="140" class="form-input col-md-12"> 
  </textarea>
</div>
<div class="row">
  <button id="btn_make_tweet" class="btn btn-success">Make Tweet</button>
</div>
