<div id="div_tweet_alert" class="alert">
  <p id="p_tweet_alert"></p>
</div>
<textarea id="txt_tweet" rows="4" cols="70" type="text" class="pretty-input" placeholder="Type your tweet...">
</textarea>
<button id="btn_make_tweet" class="pretty-button green-btn">Make Tweet</button>
<hr>
