<!DOCTYPE html>
<html>
  <head>
    <title>Fritter</title>
    <link rel='stylesheet' href='/css/common.css'/>
    <link rel='stylesheet' href='/css/messages.css'/>
  </head>
  <body>
    <div id="topbar_div">
      <div id="other_buttons">
        <button id="btn_home" class="pretty-button">Home</button>
        <button id="btn_followers" class="pretty-button">Followers</button>
      </div>
      <div id="div_logout_button"></div>
    </div>
    
    <div id="follower_div">
    </div>

    <div id="message_div">
    </div>
    <script src="/libs/async.js"></script>
    <script src="/libs/ejs.js"></script>
    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/jquery.cookie.js"></script>
    <script src="/app.js"></script>
    <script src="/util/auth.js"></script>
    <script src="/util/tweeter.js"></script>
    <script src="/util/follow_manager.js"></script>
    <script src="/controllers/logout_button_ctrl.js"></script>
    <script src="/controllers/login_check_ctrl.js"></script>
    <script src="/controllers/messages_page_ctrl.js"></script>
  </body>
</html>

