<li id="tweet<%= tweet._id.toString() %>">
  <span>
    <strong><%= tweet.username %></strong>
  </span>
  <% if(just_made || tweeter.is_my_tweet(tweet._id.toString())) { %>
    <button class="btn btn-warning edit_tweet_button">Edit Tweet</button> 
    <button class="btn btn-danger delete_tweet_button">Delete Tweet</button> 
  <% } %>
  <textarea class="non-editable tweet-content" rows="1" cols="140" type="text" readonly>
    <%= tweet.content %>
  </textarea>
</li>
