<!DOCTYPE html>
<html>
  <head>
    <title>Fritter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Fritter</h1>
    <form method="post" action="register">
      <input type="text" id="reg_username" name="username" placeholder="username">
      <input type="text" id="reg_password" name="password" placeholder="password">
      <input type="text" id="reg_confirm_password" name="confirm_password" placeholder="re-enter password">
      <button id="btn_register" type="submit">Register</button>
    </form>
    <div>
      <input type="text" id="log_username" placeholder="username">
      <input type="text" id="log_password" placeholder="password">
      <button id="btn_login">Login</button>
    </div>
  </body>
</html>
