<!DOCTYPE html>
<html>
  <head>
    <title>Fritter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <h1>Welcome to Fritter</h1>
    <form method="post" action="register">
      <input type="text" id="reg_username" name="username" placeholder="username">
      <input type="password" id="reg_password" name="password" placeholder="password">
      <input type="password" id="reg_confirm_password" name="confirm_password" placeholder="re-enter password">
      <input class="btn btn-primary" id="btn_register" type="submit" value="Register">
    </form>
    <div>
      <input type="text" id="log_username" placeholder="username">
      <input type="password" id="log_password" placeholder="password">
      <button class="btn btn-primary" id="btn_login">Login</button>
    </div>
    <div id="div_alert" class="alert alert-danger alert-dismissible" role="alert" hidden="true">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">
          &times;
        </span>
        <span class="sr-only">
          Close
        </span>
      </button>
      <p id="p_alert"></p>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/login_form.js"></script>
  </body>
</html>
