#btn_logout {
  float: right; 
  margin-right: 10px; 
  margin-top: 20px;
}

#txt_tweet {
  display: inline-block;
  margin-right: 10px;
}

#btn_make_tweet {
  margin-bottom: 50px;
}

#tweet_list {
  list-style: none;
}

#tweet_list > li {
  font-size:30px;
}

.edit_tweet_button, .delete_tweet_button{
  margin-right: 5px;
}

.non-editable {
  background-color: none;
  border: none;
}

.editable {
  background-color: none;
  border: 1px dotted black;
  border-radius: 5px;
}

#btn_make_tweet {
  margin-top: 10px;
  float: right;
}
