body {
  visibility: visible;
  position: absolute;
  width: 80%;
  left: 10%;
  right: 10%;
}

#topbar_div {
  min-height: 100px;
  width: 100%;
}

#friend_div {
  border: 1px solid black;
  display: inline-block;
  float: left;
  height: 600px;
  width: 30%;
}

#friend_div h1 {
  margin-left: 20px;
  margin-top: 10px;
}

#friend_list {
  overflow-y: scroll
  margin: 0;
  padding: 0;
  list-style: none;
}

#friend_list li {
  border: 1px solid black;
  font-size: 20pt;
  text-align: center;
}

#friend_div p {
  text-align: center;
  margin-left: 20px;
  margin-right: 10px;
}

#friend_list li.selected {
  background-color: rgb(220, 255, 220);
}

#message_div {
  border: 1px solid black;
  float: right;
  display: inline-block;
  height: 600px;
  width: 69%;
}

#other_buttons {
  float: left;
}
#btn_logout {
  float: right;
}

#btn_home {
  float: left;
}
